spring:
  devtools:
    livereload:
      enabled: true

  web:
    resources:
      chain:
        cache: false
      cache:
        cachecontrol:
          no-cache: true
          no-store: true
          must-revalidate: true

  thymeleaf:
    cache: false